.modal .menu {
    position: absolute;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .3));
    border-radius: 2rem;
    margin-left: 50%;
    transform: translate(-50%)
}

.close {
    float: left;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, .5);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.head_text {
    width: 80%;
    margin-left: 5%
}

.setting_body {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}

.setting_item {
    width: 100%
}

.folder_body {
    width: 90%;
    height: 70vh;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    z-index: 1
}

.root_icons {
    font-size: 36px;
    margin: 1%;
    display: inline-flex;
    flex-direction: column;
    align-items: center
}

.info_icons {
    margin: 1%;
    width: 5%;
    height: 5vh
}

.info_body {
    width: 90%;
    height: 20vh;
    margin-left: 5%;
    margin-top: 2%;
    display: flex
}

.info_message {
    width: 98%;
    margin: 1%;
    height: 40vh;
    background-color: rgba(100, 100, 150, .7);
    color: #fff;
    border-radius: 15px;
    flex-direction: column
}

.file-viewer,
.info_message {
    display: flex;
    justify-content: center;
    align-items: center
}

.file-viewer {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right bottom, rgba(200, 200, 255, .7), rgba(255, 200, 200, .3));
    z-index: 2
}

.file-viewer-body {
    width: 50%;
    height: 50vh;
    border-radius: 15px;
    background: #fff
}

.file-viewer-item {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.display_image {
    width: 50%
}

.terminal {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 45vh;
    background-color: #000;
    z-index: 1;
    color: #fff;
    display: flex
}

.console {
    height: 35vh;
    padding: 1%
}

.console,
.console-cmd {
    width: 95%;
    background-color: transparent;
    color: #fff
}

.menu {
    position: absolute;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .3));
    border-radius: 2rem;
    margin-left: 50%;
    transform: translate(-50%)
}

.desktop {
    width: 100%;
    height: 93vh;
    background-image: url("../../static/media/wallpaper.3084715c.jpg");
    background-repeat: no-repeat;
    background-size: 100% 93vh;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.desktop_icons {
    width: 95%;
    height: 90vh;
    margin-left: 2.5%;
    margin-top: 2%
}

.folders {
    width: 7%;
    height: 8vh;
    font-size: 40px;
    margin-top: 5%
}

.folder_name {
    font-size: 12px
}

.taskbar {
    width: 100%;
    min-height: 7vh;
    background: #aaa;
    display: inline-flex;
    justify-content: space-between;
    align-items: center
}

.init_button {
    width: 4%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: x-large
}

.init_button:hover {
    border: 1px solid #191919
}

.utility {
    width: 15%;
    height: 4vh;
    float: left
}

.utility_date_info {
    float: left;
    margin: 1%
}

.card-holder {
    position: absolute
}

.desktop-card {
    width: 60%;
    height: 35vh;
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .3));
    right: 10%;
    margin: 2%;
    padding: 2%;
    box-shadow: 1px 2px 5px #191919;
    overflow: auto
}

.skew-1 {
    display: block;
    transform: rotate(10deg)
}

.skew-2 {
    display: block;
    transform: rotate(-10deg)
}

* {
    margin: 0;
    padding: 0;
    cursor: url("../../static/media/green black and turquoise.77e65382.cur"), auto;
    font-family: sans-serif
}


/*# sourceMappingURL=main.38ef87ef.chunk.css.map */